.container-information{
    display: flex;
    width: 100%;
    height: 500px;
    margin: -7% auto;
    align-items: center;
}
.Inform_left-imag{
    margin-top: 10%;
    margin-left: 5%;
    z-index: 10;
}
.Imag_back-imag{
    display: block;
    margin-top: 5px;
    margin-left: -10%;
}
.Inform_rigth-imag{
    margin-top: -5%;
    margin-left: -15%;
}